# Ignorar archivos de frontend (React)
eventoslanzarotefrontend/node_modules
eventoslanzarotefrontend/dist
eventoslanzarotefrontend/.env
eventoslanzarotefrontend/.vscode
eventoslanzarotefrontend/.idea

# Ignorar archivos de backend (Laravel)
Eventos-Lanzarote/vendor
Eventos-Lanzarote/storage
Eventos-Lanzarote/node_modules
Eventos-Lanzarote/.env
Eventos-Lanzarote/public/build
Eventos-Lanzarote/.vscode
Eventos-Lanzarote/.idea

# Archivos del sistema
.DS_Store
Thumbs.db