@tailwind base;
@tailwind components;
@tailwind utilities;



#cabecera {
  background-image: url('assets/lanzarote.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  opacity: 0.8;
}

.logo {
  background-image: url('assets/logo4.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
}