@tailwind base;
@tailwind components;
@tailwind utilities;




.logo {
  background-image: url('assets/logo4.png'); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 120px;
  width: 300px; /* 👈 añade esto si no tienes ancho definido */
  display: inline-block; /* 👈 importante para que se vea el div vacío */
}

.portada {
  background-image: url('assets/portada.png');
  background-size: cover;
  background-position: center;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .portada {
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
}

